[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[packages]
apache-airflow = {extras = ["crypto,postgres,sentry"],version = "*"}
sodapy = "*"
coveralls = "*"
pyjsend = "*"
sentry-sdk = "*"
screendoor-sdk = {git = "https://github.com/SFDigitalServices/screendoor-sdk-py.git",ref = "0.2.2"}
flask-bcrypt = "*"
pygsheets = "*"
email-validator = "*"

[requires]
python_version = "3.7"
